<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>708393989388-l7i3koav0ncgel0hrsst5v18o5idtmi9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708393989388-l7i3koav0ncgel0hrsst5v18o5idtmi9</string>
	<key>API_KEY</key>
	<string>AIzaSyDgUZ1uJEIFnPa_vPlIFGsNI-WzLRq5S14</string>
	<key>GCM_SENDER_ID</key>
	<string>708393989388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ll.ContabilidadAjos</string>
	<key>PROJECT_ID</key>
	<string>project-9211016576315742330</string>
	<key>STORAGE_BUCKET</key>
	<string>project-9211016576315742330.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:708393989388:ios:96f3d09dca97bddb</string>
	<key>DATABASE_URL</key>
	<string>https://ajoshermanoscazalla.firebaseio.com</string>
</dict>
</plist>